<!DOCTYPE html>
<html>
<head>
  <title>Guns</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to "Guns", '/', class: "brand", id: "logo" %>
        <nav>
          <ul class="nav">
            <%= namespace_link_to "Inventory", "inventory" %>
            <%= namespace_link_to "Equipment", "equipment" %>
          </ul>
          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="container-fluid breadcrumbs">
    <%= render_breadcrumbs %>
  </div>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      var myNotice = "<%= notice ? notice : '' %>";
      var myAlert = "<%= alert ? alert : '' %>";
      if(myNotice != "") {
        alertify.log(myNotice);
      }
      if(myAlert != "") {
        alertify.error(myAlert);
      } 
    })
  </script>
</body>
</html>
